.EmployeeList{
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: flex-end;
  justify-content: flex-end;

}

.EmployeeList td{
  padding:1rem;
}
.EmployeeList th{
  color:#03396C;
  background-color: #fff;
}
.EmployeeList input{
  border: solid 1px #03396C50;
  border-radius: 5px 0 0 5px;
  padding: .5rem.75rem;
  width:20%;
  height:48px;
  margin-left: 2.5%;
}
.Search{
  display: flex;
  align-items: center;
  width:100%;

}
.Search svg{
  height:48px;
  width:48px;
  padding:.75rem;
  background-color: #03396C;
  color:#fff;
  cursor: pointer;
    border-radius: 0 5px 5px 0;
}