.Nav {
  width: 15vw;
  background-color: #fff;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding: 1rem 0;
}
.Nav_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.Logo {
  width: 50%;
}
ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  display: flex;
  justify-content: flex-start;
}
li {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #8e8e93;
  text-align: left;
  padding: 0.75rem;
  border-radius: 5px;
  transition: all 350ms;
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -ms-transition: all 350ms;
  -o-transition: all 350ms;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
li:hover {
  background-color: #696974;
  color: #fff;
}
.Logout {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 350ms;
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -ms-transition: all 350ms;
  -o-transition: all 350ms;
}
.Logout:hover {
  color: #333;
}
.Nav_foot {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  color: #8e8e93;
  align-items: center;
}
.Rights {
  font-size: 0.85em;
  color: #333;
}

@media (max-width: 431px) {
  .Nav {
    position: fixed;
    width: 100%;

    bottom: 0;
    height: fit-content;
    z-index: 99;
    padding: 0;
    align-items: flex-start;
    justify-content: space-between;
    border-top:solid 1px #33333325;

  }
  .Nav_inner{
    width:100%;
  }
  .Logo {
    display: none;
  }
  ul {
    flex-direction: row;
    justify-content: space-between;
  }
  .Rights {
    display: none;
  }
  li {
    flex-direction: column;
    padding: 0.5rem .25rem;
    width:25%;
    border-radius: 0;
  }
  li img {
    width: 5rem;
  }
  li span {
    font-size: 0.65em;
  }
  .Nav_foot {
    display: none;
  }

}
